
  <h1>File Contents</h1>

  <table>
    <tr>
      <th>Purchaser Name</th>
      <th>Item Description</th>
      <th>Item Price</th>
      <th>Purchase Count</th>
      <th>Merchant Address</th>
      <th>Merchant Name</th>
    </tr>
    <% @purchases.each do |p| %>
      <tr>
        <td><%= p.purchaser_name %></td>
        <td><%= p.item_description %></td>
        <td><%= p.item_price %></td>
        <td><%= p.purchase_count %></td>
        <td><%= p.merchant_address %></td>
        <td><%= p.merchant_name %></td>
      </tr>
      <% end %>
  </table>
