
  <h1>File Contents</h1>

  <table>
    <tr>
      <th>Purchaser Name</th>
      <th>Item Description</th>
      <th>Item Price</th>
      <th>Purchase Count</th>
      <th>Merchant Address</th>
      <th>Merchant Name</th>
    </tr>
    <% @total_price = [] %>
    <% @purchases.each do |p| %>
      <tr>
        <td><%= p.purchaser_name %></td>
        <td><%= p.item_description %></td>
        <td><%= number_to_currency(p.item_price, unit: "$") %></td>
        <td><%= p.purchase_count %></td>
        <% @total_price << ((p.item_price * p.purchase_count).to_d) %>
        <td><%= p.merchant_address %></td>
        <td><%= p.merchant_name %></td>

      </tr>
      <% end %>
  </table>

  <h3>Total Gross Revenue:</h3>



    <%= number_to_currency(total_revenue, unit: "$") %>
