<p> Upload a tab-delimited data file, and we will import all of the purchases into the database. </p>

<%= form_tag({action: :upload}, multipart: true, id: "data_import") do %>
   <%= file_field_tag 'tab_file' %><br>
   <%= hidden_field_tag :authenticity_token, form_authenticity_token %><br>
   <%= submit_tag 'Submit' %>
<% end %>

<br>
<% if flash[:notice] %>
    <b> <div class="notice"><%= flash[:notice] %></div></b>
<% end %>